[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standrad"], version = "*"}
firebase-admin = "*"
matplotlib = "*"
tensorflow = "*"
tensorflow-hub = "*"
tensorflow-datasets = "*"
scikit-learn = "*"
lightgbm = "*"
opencv-python = "*"
scikit-image = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
